.container{
    font-family:'Gabriola';
  .card{
    margin-top: 20px;
  }
    max-width :200px;
    .form-inline{
    margin: 10px;
    }
    .form-control{
    margin-left: 20px;
    }
    #answer{
      margin-left:50px;
    }
  }